*.log
auto
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile.old
MANIFEST.bak
Makefile
META.yml
MYMETA.yml  
MYMETA.json
nytprof.out
pm_to_blib
.DS_Store
*.aux
*.thm
*.idx
*.synctex.gz
